<br>
<h5 class="text-center">Personas Admin</h5>
<button (click)="insertarPersona()" class="btn btn-danger">Insertar</button>
<div class="row">
  <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
    <input type="text" placeholder="Buscar Persona..." class="form-control">
  </div>
  <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
    <table class="table">
      <thead>
        <th>id</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Edad</th>
        <th>Rol</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.listPersonas">
          <td>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.apellidos }}</td>
          <td>{{ item.edad }}</td>
          <td>{{ item.rol }}</td>
          <td>
            <button class="btn btn-info"><i class="fas fa-pen"></i></button>
            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
